@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <title>KickIt</title>
   
                    <div class="btn btn-danger btn-lg">
                        @Html.ActionLink("KickIt", "Contact")
                        <html>

                        <head>
                            <meta charset="utf-8">
                            <meta name="viewport" content="width=device-width, initial-scale=1">
                        </head>

                        <body>
                            <div class="cover">
                                <div class="navbar">
                                    <div class="container">
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                            <a class="navbar-brand" href="#"><span>Brand</span></a>
                                        </div>
                                        <div class="collapse navbar-collapse" id="navbar-ex-collapse"></div>
                                    </div>
                                </div>
                                <div class="cover-image" style="background-image : url('https://static.pexels.com/photos/42389/pexels-photo-42389.jpeg')"></div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <h1 class="text-inverse">KICKiT</h1>
                                            <p class="text-inverse">Lifes Short. Hang with Friends.</p>
                                            <br>
                                            <br>
                                            <a class="btn btn-lg btn-primary">Let's Make It Happen!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                                                 class="img-responsive">
                                        </div>
                                        <div class="col-md-6">
                                            <h1 class="text-primary">A title</h1>
                                            <h3>A subtitle</h3>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                                ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                                                dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                                                nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                                                Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
                                                enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                                                felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
                                                elementum semper nisi.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h1 class="text-primary">A title</h1>
                                            <h3>A subtitle</h3>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                                ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                                                dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                                                nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                                                Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
                                                enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                                                felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
                                                elementum semper nisi.
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                                                 class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h1 class="text-center text-primary">Team</h1>
                                            <p class="text-center">We are a group of skilled individuals.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                                                 class="center-block img-circle img-responsive">
                                            <h3 class="text-center">John Doe</h3>
                                            <p class="text-center">Developer</p>
                                        </div>
                                        <div class="col-md-4">
                                            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                                                 class="center-block img-circle img-responsive">
                                            <h3 class="text-center">John Doe</h3>
                                            <p class="text-center">Developer</p>
                                        </div>
                                        <div class="col-md-4">
                                            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                                                 class="center-block img-circle img-responsive">
                                            <h3 class="text-center">John Doe</h3>
                                            <p class="text-center">Developer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </body>
                    </html>