
@model Kickit.Models.Invitor

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <style>
        body {
            background-color: #F1F1F1;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <p>Thanks for using KickIt @Model.FromName! We will check and see if @Model.ReceiverName wants to KickIt!</p>


        
    </div>
</body>
</html>

